<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Approve student details</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<div style="text-align: center; padding-top: 150px" class="container my-2">
		<h1 style="text-align:center; color: red;">Scolarship rejected</h1>
		
			 <a th:href="@{/userdetails1}" class="btn btn-primary" >Back to User Details</a></td></tr>

			</tbody>
			
			</table>
	</div>
</body>
</html>